<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="assets/images/cl1.png"  alt="crsl1" class="d-block">
    </div>

    <div class="carousel-item active">
      <img src="assets/images/cl2.gif"  alt="crsl2" class="d-block">
    </div>
    <div class="carousel-item">
      <img src="assets/images/cl3.png"  alt="crsl3" class="d-block">
    </div>
    <div class="carousel-item">
      <img src="assets/images/cl4.png"  alt="crsl4" class="d-block">
      
    </div>
  </div>
