<section class="caroulsel">
  <div class="caroulsel-wrap p-1">
    <a href="#"><img src="assets/images/body1.png" alt="body1" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body2.png" alt="body2" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body3.png" alt="body3" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body4.png" alt="body4" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body5.png" alt="body5" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body6.png" alt="body6" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body7.png" alt="body7" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body8.png" alt="body8" style="width: 200px;"/></a>
    <a href="#"><img src="assets/images/body9.png" alt="body9" style="width: 200px;"/></a>
  </div>
</section>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
      <div class="card  " style="width: 18rem;">
  <img src="assets/images/body10.png" alt="body10" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">KIDS WEAR</h5>

  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/images/body11.png" alt="body11" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">MODERN</h5>

  </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/images/body12.png" alt="body12"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">FOOTWEAR</h5>

          </div>
                </div>
        <div class="card" style="width: 18rem;">
  <img src="assets/images/body13.png" alt="body13" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">BAGS</h5>

  </div>
</div>
</div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex   justify-content-around">
      <div class="card  " style="width: 18rem;">
  <img src="https://assets.ajio.com/cms/AJIO/WEB/WHP-D-sponsorbrands-p5-melorra-starting2499.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Jewellary</h5>

  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://assets.ajio.com/cms/AJIO/WEB/D-MHP-SponsoredBrands-fcuk-4080.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>

  </div>
        </div>
        <div class="card  " style="width: 18rem;">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/D-KHP-premiumbrands-fabindia-upto25-23.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">KIDS WEAR</h5>

          </div>
        </div><div class="card" style="width: 18rem;">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/WHP-D-sponsorbrands-p2-baggit-upto80.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MODERN</h5>

          </div>
</div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
      <div class="card  " style="width: 18rem;">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/06122022-D-IndiePage-signaturebrands-p6-qura.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">KIDS WEAR</h5>

        </div>
      </div><div class="card" style="width: 18rem;">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/WHP-D-sponsorbrands-p2-baggit-upto80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MODERN</h5>

        </div>
              </div>
              <div class="card" style="width: 18rem;">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/D-MHP-SponsoredBrands-levis-flat50extra10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BAGS</h5>

        </div>
</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
